[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/readline"]
	path = deps/readline
	url = https://git.savannah.gnu.org/git/readline.git
