[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/bellard/quickjs.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
[submodule "deps/llhttp"]
	path = deps/llhttp
	url = https://github.com/nodejs/llhttp.git
[submodule "deps/wamr"]
	path = deps/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
